table td {
    border: 1px solid grey;
}
#drugs ul {
	margin: 0;
	padding: 0;
}
#drugs li {
	display: block;
    overflow: hidden;
    background: #eee;
    padding: 3px;
}
#drugs li a.toggler {
    cursor: pointer;
}
#drugs li .verified {
    float: right;
}
#drugs li table {
    display: none;
    border-spacing: 0;
    border-collapse: collapse;
}
#drugs li table td {
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}
#drugs li.expanded table {
    display: table;
}